{% if mosh_fish_set_locale == true %}
# locale
set -gx  LC_ALL en_US.UTF-8
{% endif %}

{% if mosh_configure_vault == true %}
# vault
set -gx  VAULT_ADDR {{ mosh_vault_addr }}
set -gx  VAULT_BIN_PATH {{ mosh_vault_bin_path }}
set -gx  VAULT_LOGIN_USER {{ mosh_vault_login_user }}
{% endif %}

{% if mosh_configure_node == true %}
# node
set -gx NPM_PACKAGES "{{ mosh_node_packages_location }}"
set -gx PATH $PATH $NPM_PACKAGES/bin
set -gx MANPATH $NPM_PACKAGES/share/man $MANPATH
{% endif %}

{% if mosh_configure_python == true %}
# python
set -gx PATH $PATH {{ mosh_home_directory }}/.local/bin
{% endif %}

{% if mosh_configure_rust == true %}
# python
set -gx PATH $PATH {{ mosh_home_directory }}/.cargo/bin
{% endif %}

{% if mosh_gh_token and mosh_gh_token != '' %}
# github token
set -gx  GH_TOKEN {{ mosh_gh_token }}
{% endif %}

{% if mosh_install_golang == true %}
# golang
set PATH {{ mosh_golang_location }} $PATH
{% endif %}

{% if mosh_install_fisher == true %}
if not functions -q fisher
    set -q XDG_CONFIG_HOME; or set XDG_CONFIG_HOME ~/.config
    curl https://git.io/fisher --create-dirs -sLo $XDG_CONFIG_HOME/fish/functions/fisher.fish
    fish -c fisher
end
{% endif %}
